.mat-form-field {
  width: 100%;
}

.mat-dialog-actions {
  justify-content: flex-end;
}
/* styles.css ou add-payment-dialog.component.css */
.error-snackbar {
  background-color: #f44336; /* Couleur rouge pour les erreurs */
  color: white;
}
