<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <a mat-list-item (click)="navigateTo('dashboard')">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item (click)="navigateTo('patients')">
        <mat-icon>people</mat-icon>
        <span>Patients</span>
      </a>
      <a mat-list-item (click)="navigateTo('appointments')">
        <mat-icon>calendar_today</mat-icon>
        <span>Rendez-vous</span>
      </a>
      <a mat-list-item (click)="navigateTo('payments')">
        <mat-icon>money</mat-icon>
        <span>Revenu</span>
      </a>
      <a mat-list-item (click)="navigateTo('purchases')">
        <mat-icon>shopping_cart</mat-icon>
        <span>Dépenses</span>
      </a>
    </mat-nav-list>

    <!-- Professional name at the bottom -->
    <div class="doctor-info">
      Dr. Khchimi Houssem
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <!-- "Just Smile" with medical services and tooth icons -->
      <span class="toolbar-title">
        <mat-icon>local_offer</mat-icon>
        <span class="separator"></span>
        Just Smile
      </span>

    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
