.sidenav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidenav {
  width: 250px;
  background-color: #f4f4f4;
}

.mat-nav-list a {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  color: #424242;
  font-weight: 500;
}

.mat-nav-list a:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.mat-nav-list mat-icon {
  margin-right: 10px;
}

.toolbar {
  background-color: #3f51b5;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
}

.main-content {
  padding: 20px;
}

.toolbar-title {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-left: 16px;
  color: #ffffff; /* Neutral color for a professional look */
}

.doctor-info {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 14px;
  color: #333;
  font-weight: 500;
}
.separator {
  margin: 0 8px;
}
