<div class="add-form">
    <mat-card>
        <mat-card-title>Ajouter un Nouvel Achat</mat-card-title>
        <mat-card-content>
            <form (ngSubmit)="addPurchase()" #purchaseForm="ngForm" class="form-grid">

                <mat-form-field appearance="outline" class="full-width-field">
                    <mat-label>Description</mat-label>
                    <input matInput type="text" [(ngModel)]="purchase.description" name="description" required>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-field">
                    <mat-label>Montant</mat-label>
                    <input matInput type="number" [(ngModel)]="purchase.amount" name="amount" required>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-field">
                    <mat-label>Date</mat-label>
                    <input matInput type="date" [(ngModel)]="purchase.date" name="date" required>
                </mat-form-field>

                <div class="form-buttons">
                    <button mat-raised-button color="primary" type="submit">Ajouter</button>
                    <button mat-stroked-button color="warn" type="button" routerLink="/purchases">Annuler</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
